.menu-box {
	position: relative;
	padding-bottom: 56.25%; /* give aspect ratio of 16:9; "720 / 1280 = 0.5625" */
	height: 0;
	overflow: hidden;
}

.menu-box iframe, .menu-box object, .menu-box embed, .menu-box .loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu-box iframe, .menu-box object, .menu-box embed {
	z-index: -1000;
}

.fade_out {
	opacity: 0;
	transition: all .2s ease-out;
}

/*.bg, #bgvideo {
 position:absolute;
 }*/

.menu {
	position: absolute;
	margin-top: 10%;
	background: rgba(0,0,0,0.5);
}

.item_box {
	position: absolute;
	transform: translate(9%, 0);
}

.item_box.ani_on {
	/*animation: Menu .7s .5s cubic-bezier(0.000, -1.000, 0.000, 1.000) forwards;*/
	transform: translate(0, 0);
	-webkit-transition: all .7s .5s cubic-bezier(0.000, -1.000, 0.000, 1.000);
	transition: all .7s .5s cubic-bezier(0.000, -1.000, 0.000, 1.000);
}

.item {
	margin: 0 auto;
	opacity: 0;
	margin-top: 40%;
	transform: scale(0.5);
}

.item.ani_on {
	opacity: 1;
	/*animation: Menu2 .7s .5s cubic-bezier(0.000, 1.000, 0.000, 1.000) forwards;*/
	margin-top: 0;
	transform: scale(1);
	-webkit-transition: all .7s .5s cubic-bezier(0.000, 1.000, 0.000, 1.000);
	transition: all .7s .5s cubic-bezier(0.000, 1.000, 0.000, 1.000);
}

.pic_title {
	margin-top: 5%;
	color: #cccccc;
}

button.menu_close {
	/*animation: MenuClose linear .3s forwards;*/
	position: absolute;
	top: -20%;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .7s;
	transition: all .7s;
}

.item_box.menu_close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .7s;
	transition: all .7s;
}

.loading {
	background: #000;
}

.loading i{
	color: #cccccc;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

@keyframes Menu{
0% {
transform: translate(4%,0px);
}

100% {
transform: translate(0px,0px);
}
}

@-moz-keyframes Menu{
0% {
-moz-transform: translate(4%,0px);
}

100% {
-moz-transform: translate(0px,0px);
}
}

@-webkit-keyframes Menu{
0% {
opacity:0;
}
100% {
opacity:1;
}
}

@-o-keyframes Menu{
0% {
opacity:0;
}
100% {
opacity:1;
}
}

@-ms-keyframes Menu{
0% {
opacity:0;
}
100% {
opacity:1;
}
}

@keyframes Menu2{
0% {
transform: translate(0,40%) scale(0.5);
opacity:0;
}

100% {
transform: translate(0,0) scale(1);
opacity:1;
}
}

@-moz-keyframes Menu2{
0% {
-moz-transform: translate(0,40%) scale(0.5);
opacity:0;
}

100% {
-moz-transform: translate(0,0) scale(1);
opacity:1;
}
}

@-webkit-keyframes Menu2{
0% {
opacity:0;
}
100% {
opacity:1;
}
}

@-o-keyframes Menu2{
0% {
opacity:0;
}
100% {
opacity:1;
}
}

@-ms-keyframes Menu2{
0% {
opacity:0;
}
100% {
opacity:1;
}
}

/*@keyframes MenuClose{
0% {
transform: translate(0,0) scale(1);
}

100% {
transform: translate(0,40%) scale(0);
}
}

@-moz-keyframes MenuClose{
0% {
-moz-transform: translate(0,0) scale(1);
}

100% {
-moz-transform: translate(0,40%) scale(0);
}
}

@-webkit-keyframes MenuClose{
0% {
-webkit-transform: translate(0,0) scale(1);
opacity:1;
}

100% {
-webkit-transform: translate(0,40%) scale(0);
opacity:0;
}
}

@-o-keyframes MenuClose{
0% {
opacity:0;
}
100% {
opacity:1;
}
}*/

@-ms-keyframes MenuClose{
0% {
opacity:0;
}
100% {
opacity:1;
}
}