.travel {
	overflow: auto;
}

.travel::-webkit-scrollbar {
	display: none;
}


.travel_bg {
	position: absolute;
	top: 0;
	left: 0;
	/*z-index: -2;*/
	cursor: pointer;
	/*transition: filter .4s ease-in-out;
	-webkit-transition: -webkit-filter .4s ease-in-out;*/
}

.travel_bg.toggled {
	/*-webkit-filter: blur(10px);
	filter: blur(10px);*/
}

.travel .container {
	display: flex;
	justify-content: center;
	color: #FFFFFF;
}

.container.content.editing, .container.content.editing .text {
  height: 100%;
}

.text {
	padding: 8% !important;
	line-height: 40px;
	font-family: 'Segoe UI Light', 'Segoe UI', 'Microsoft JhengHei';
	font-weight: lighter;
	font-size: 18px;
	/*transition: opacity .4s ease-in-out;*/
}

.text.editing {
	height: 100%;
}

.text .row {
	margin-right: 0;
	margin-left: 0;
}

.container.lang_select {
	position: fixed;
}

.container.content {
	position: relative;
	margin-top: 5%;
}

.container.content .text {
	background-color: rgba(0,0,0,0.5);
	/*opacity: .1;*/
}

.lang {
	margin-top: 5%;
}

.lang_select button {
	margin: 0 10px;
	line-height: 40px;
	font-family: 'Segoe UI Light', 'Segoe UI', 'Microsoft JhengHei';
	font-weight: lighter;
	font-size: 18px;
	opacity: .1;
}

/*break {
	display: block;
	height: 1em;
}*/

.text p {
	margin-bottom: 1em;
}

.text h2 {
	margin-top: 2em;
	margin-bottom: 30px !important;
}


.container.content .text.active {
	/*background: rgba(0,0,0,0.5);*/
}

.lang_select button:hover {
	opacity: 1;
}

textarea {
	background: transparent;
	resize: none;
	outline: none;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}
