<!-- travel.html -->
<div class="travel fill" id="travel" change-opacity>
	<div class="travel_bg fill" id="travel_bg" ng-style="{'background-image' : 'url(' + bg_travel + ')'}"
	ng-class="{'toggled' : active_toggle}" ng-click="go()"></div>
	
	<div class="container content col-sm-8 col-sm-offset-2">
		
		<span class="text" ng-class="{'active' : active_toggle}" ng-init="active_toggle = true"
		ng-mouseover="active_toggle = true"	ng-mouseleave="active_toggle = false" ng-click="active_toggle = !active_toggle">
			<span ng-show="lang.substring(0,2) === 'en'">
				<p>I still don't know where this flight will take me.</p>
				<p>I still don't know where this road will lead me.</p>
				<p>But one thing I know for sure,</p>
				<p>This will change my life forever.</p>
				<break></break>
			
				<p>The night before I left Taiwan, I asked myself over and over again if I have to do this. Yeah, first time being a backpacker. First time
				traveling alone. First time speaking English. And first time doing everything on my own without any help from travel
				agencies.</p> 
				<h2>22.03.2013</h2>
			
				<p>I still don't know where this flight will take me.</p>
				<p>I still don't know where this road will lead me.</p>
				<p>But one thing I know for sure,</p>
				<p>This will change my life forever.</p>
				<break></break>
			
			 
				<h2>22.03.2013</h2>
			</span>
			
			<span ng-show="lang.substring(0,2) === 'zh'">
				<p>我還是不知道，這班機會將我載往何處。</p>
				<p>我還是不知道，這公路會將我帶往何處。</p>
				<p>但我確實知道一件事</p>
				<p>這將永遠改變我的人生。</p>
				<break></break>
				
				<p>離開台灣的前一晚，我再三問我自己，是否一定要這樣做。是啊，第一次當背包客。第一次一個人旅行。第一次講英文。第一次不透過任何旅行社及仲介，
					所有事情自己一人包辦。</p>
				<h2>22.03.2013</h2>
			</span>
		</span>
			
	</div>
	
	<div class="container lang_select col-sm-8 col-sm-offset-2">
		<span class="text" ng-class="{'active' : active_toggle}" ng-init="active_toggle = true"
		ng-mouseover="active_toggle = true"	ng-mouseleave="active_toggle = false">
			<button ng-click="lang = 'en'">English</button>
			<button ng-click="lang = 'zh'">中文</button>
		</span>
	</div>
</div>
