<!-- travel.html -->
<div class="travel fill" change-opacity ng-click="text_editable = !text_editable; write(text, lang_editing)">
	<div class="travel_bg fill" ng-style="{'background-image' : 'url(img/2007-01-01-14h45m19-2.jpg)'}"
	 ng-click="go2()" ng-mouseover="blur()" ng-mouseleave="unblur()"></div>
	<div class="travel_bg fill bg1" ng-style="{'background-image' : 'url(' + bg_travel + ')'}"
	 ng-click="go()" ng-mouseover="blur()" ng-mouseleave="unblur()"></div>

	<div class="container content col-sm-8 col-sm-offset-2" ng-class="{'editing' : text_editable && debug_mode}">

		<div class="text_box" ng-repeat="(key, value) in text" ng-click="editing(key)">
		<div class="text col-sm-12" ng-show="lang.substring(0,2) === key" ng-repeat="item in value.data">
				<span class="row">
					<span ng-bind-html="item.text" ng-hide="text_editable && debug_mode">
					</span>
					<textarea class="col-sm-12" ng-model="item.text" ng-show="text_editable && debug_mode" ng-click="$event.stopPropagation()">
					</textarea>
				</span>
		</div>

		</span>
	</div>

	</div>

	<div class="container lang_select col-sm-8 col-sm-offset-2">
		<span class="lang">
			<button ng-repeat="(key, value) in text" ng-click="change_lang(key)" ng-bind="value.lang"></button>
		</span>
	</div>
</div>
